#barcode_scanner > video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;    
}
    
#barcode_scanner > canvas.drawing, canvas.drawingBuffer {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}